.App {
    text-align: center;
    margin-top: 50px;
}

.status {
    font-size: 24px;
    margin-bottom: 20px;
}

.board-row:after {
    content: "";
    display: table;
    clear: both;
}

.square {
    float: left;
    width: 80px;
    height: 80px;
    font-size: 36px;
    font-weight: bold;
    border: 1px solid #ddd;
    line-height: 80px;
    text-align: center;
    cursor: pointer;
}

.square:focus {
    outline: none;
}

.board-row:nth-child(2) .square {
    border-top: none;
    border-bottom: none;
}

.board-row:nth-child(2n) .square {
    border-right: none;
    border-left: none;
}

.square:hover {
    background-color: #f5f5f5;
}

.game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dont-finished-game{
    background: #FFFFFF;
    width: 100%;
    padding: 8px 16px;
    border-radius:6px;
    border: 1px solid burlywood;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.dont-finished-game:hover{
    transform: scale(1.1);
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.4);

}

.dont-finished-game-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;

}



.create-and-join-page{
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-and-join-button{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    background: deepskyblue;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.4s ease;
    cursor: pointer;
}
.create-and-join-button:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
}

.create-and-join-button:first-child{
    margin-right: 50px;
    background: limegreen;
}

.game{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: cornsilk;
}


.back{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    outline: none;
    background: red;
    color: #FFFFFF;
    border: 1px solid red;
    border-radius: 8px;
}
